* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(resources/bg-guess-the-word.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 26rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    padding: 1.2rem;
    align-items: center;
    color: white;
    border-radius: 1rem;
    flex-direction: column;
    gap: 1.6rem;
    background-color: #041a2c;
}

.title h1 {
    background-image: linear-gradient(to right, #7429C6, #C951E7);
    background-clip: text;
    color: transparent;
    text-transform: capitalize;
}

.box {
    background-color: #4A5567;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 2.15rem;
    letter-spacing: 0.2rem;
}
.box p {
    width: 25rem;
}
.tries-and-mistake {
    text-transform: capitalize;
    font-size: 1.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24rem;
    margin: 0 0 2rem 0;
}

span {
    text-transform: none;
}

.tries-counter {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tries-counter .circle {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: #4A5567;
}


.input-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem 0;
    flex-wrap: wrap;
    width: 25rem;
    gap: 0.5rem;
}

.input-box {
    height: 3rem;
    border-radius: 12px;
    outline: none;
    width: 3rem;
    font-size: 1.5rem;
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
    background-color: #041a2c;
    border: 3px solid #4A5567;
}




.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.button button {
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    width: 9rem;
    border-radius: 10px;
    background-color: #C951E7;
    color: white;
    padding: .6rem 0;
    filter: drop-shadow(0px 4px 0px #7b248a);
    outline: none;
    font-size: 1.2rem;
}



@media only screen and (max-width: 375px) {
    .tries-and-mistake {
        font-size: 1.1rem;
    }

    .tries-counter {
        width: 11rem;
    }

    .input-box {
        height: 2.5rem;
        width: 2.5rem;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        justify-content: center;
        padding: 1.2rem 9px;

    }

    .box {
        background-color: #4A5567;
        width: 100%;
        font-size: 1.8rem;
        letter-spacing: 0.5rem;
    }

    .tries-and-mistake {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: flex-start;
        margin: 0;
    }

    .button {
        width: 100%;
        gap: 1rem;
        font-size: 1.1rem;
    }

}